[Unit]
Description=Mini Fail2Ban - Monitoring and Block IP
After=network.target

[Service]
ExecStart=/usr/local/bin/mf2b
Restart=always
User=root
ProtectSystem=strict
NoNewPrivileges=true
ReadWritePaths=/run/lock /etc/mf2b /var/log 

[Install]
WantedBy=multi-user.target
